<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /vite_group_project
    RewriteRule ^vite_group_project/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /vite_group_project/index.html [L]
</IfModule>